@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


/* General Styles */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #CE0303;
}

div {
	text-align: center;
}

/* Header */

#logo {
	width: 80px; 
	margin: 0 auto;
}

header {
	padding: 20px;
	background-color: white;
	border-bottom: 15px double black;
}

header h1 {
	margin: 0;
	text-align: center;
	color: black;
	font-family: 'Permanent Marker', cursive;
	font-size: 3.5em;
}

/* Battle Ground */

.handsign {
	cursor: pointer;
	width: 300px
}

#handsigns div {
	position: relative;
	width: 350px;
	margin: 30px 45px;
	display: inline-block;
	/* word-break: break-word; */
	background: maroon;
}

#handsigns div:hover {
	box-shadow: 0px 0px 40px white, 0px 0px 50px orange;
}

#handsigns span {
	font-family: 'Permanent Marker', cursive;
	position: absolute;
	line-height: 1em;
	top: 0px;
	background-color: white;
}

#rock span, #paper span {
	font-size: 2.5em;
	right: 1.2em;
}

#scissors span {
	font-size: 2.3em;
	left: 1.5em;
}

.selected {
	box-shadow: 0px 0px 40px white;
	color: white;
	animation: glow 4s linear infinite alternative;
}

@keyframes glow {
	0% {text-shadow: 0px 0px 5px white, 0px 0px 7px orange, 0px 0px 12px darkorange;}
	50% {text-shadow: 0px 0px 8px white, 0px 0px 13px orange, 0px 0px 18px darkorange;}
	100% {text-shadow: 0px 0px 15px white, 0px 0px 25px orange, 0px 0px 40px darkorange;}
}

#outcomes h3 {
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 1.6em;
}

.countdown-start {
	padding: 35px;
	font-size: 3em;
	color: white;
	animation-duration: 2s;
	animation-iteration-count: 4;
	font-family: 'Permanent Marker', cursive;
}

.countdown-end {
	font-family: 'Permanent Marker', cursive;
	padding: 25px;
	font-size: 3.5em;
	color: white;
}

table {
	border: 5px solid black;
	width: 300px;
	margin: 40px auto;
	text-align: center;
	border-collapse: collapse;
	background-color: white;
	table-layout: fixed;
}

th, td {
	border: 5px solid black;
	padding: 10px;
}

/* Footer */

footer div {
	padding: 2em;
}

footer h3 {
	padding-bottom: 10px;
}

#about {
	background-color: white;
	border-top: 15px double black;
}

#about p {
	padding-bottom: 1.5em;
}

#about a {
	background-color: maroon;
	border-radius: 10px;
	padding: 7px 10px;
	color: white;
	font-size: 1em;
	text-decoration: none;
}

#project {
	color: white;
}
