@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #CE0303;
}

#logo {
	width: 80px; 
	margin: 0 auto;
}

header {
	padding: 20px;
	background-color: white;
}

header h1 {
	margin: 0;
	text-align: center;
	color: black;
	font-family: 'Permanent Marker', cursive;
	font-size: 3.5em;
}

div {
	text-align: center;
}

.handsign {
	margin: 20px;
}

#outcomes h3 {
	color: white;
	font-family: 'Permanent Marker', cursive;
	font-size: 1.6em;
}

.countdownSet {
	color: gray;
	font-size: 1em;
	padding: 10px;
}

.countdownStart {
	padding: 20px;
	transition: font-size 1s ease, color 2s ease;
	font-size: 4em;
	color: white;
}

table {
	border: 3px solid black;
	width: 200px;
	margin: 20px auto;
	text-align: center;
	border-collapse: collapse;
	background-color: white;
}

th, td {
	border: 3px solid black;
}
